html {
    font-family: "proxima-nova", "proxima nova", "helvetica", sans-serif; 
    color: #FFFFFF;
}

h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #FFFFFF;
    margin: 0px;
}

h2 {
    font-size: 1rem;
    padding: 0.75rem;
    margin: 0px;
    font-weight: 600;
    background-color: #86ECD9;
}

h4 {
    color: #5BA194;
}

.title {
    /*text-align: center;
    padding: 0.25rem;*/
    background-color: #74ADFF;
    margin-bottom: 1rem;
    margin-top: 0px;
}

.container {
    background-color: #F3F5F9;
    width: 80%;
    padding: 1rem;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.section-copy {
    color: #1D1D1D;
}

img {
    width: 200px;
    height: 150px;
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.img-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.caption {
    color: rgba(29, 29, 29, 0.8);
    padding: 0.5rem;
    font-weight: 700;
    opacity: 60%;
}

.img-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-copy-secondary {
    color: #5BA194;
}

.section-copy-tertiary {
    color: #984545;
}