html {
    font-family: "proxima-nova", "proxima nova", "helvetica", sans-serif; 
    color: #FFFFFF;
}

h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #FFFFFF;
    margin: 0px;
}

h2 {
    font-size: 1rem;
    padding: 0.75rem;
    margin: 0px;
    font-weight: 600;
    background-color: coral;
}

.title {
    /*text-align: center;
    padding: 0.25rem;*/
    background-color: dodgerblue;
    margin-bottom: 1rem;
    margin-top: 0px;
}

.container {
    background-color: #F3F5F9;
    width: 80%;
    padding: 1rem;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.section {
    
}

.section-copy {
    color: #1D1D1D;
}