html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
.jumbotron {
    text-align: center;
}

#spinner-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#posts-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.post-container {
    height: 15rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    background-color: orangered;
    color: white;
}
.user-image-container {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}